
body{
    background-color: antiquewhite;
}

.show{
    text-align: center;
}

.show #result{
    margin-top: 50px;
    font-size: 100px;
    margin-bottom: 5px;
}

.show #message{
    font-size: 50px;
    margin-top: 10px;
}